extends base

block content
    if errorMessage
        span=errorMessage
    form(method="post")
        input(name="oldPw", placeholder="Old Password", type="password", required)
        input(name="newPw", placeholder="New Password", type="password", required)
        input(name="newPwC", placeholder="New Password Confirmation", type="password", required)
        input(type="submit", value="Change Password")